

/* Kindness Css */
@import url('https://fonts.googleapis.com/css?family=Lato|Poller+One');
html{
    background: linear-gradient(to right,black, navy, #2e86c1);
    width: 100%;
    height: 100%;
}

body{
    width: 95%;
    font-size: 1.4em;
    margin: 0 auto;
    font-family: 'Lato', Verdana, sans-serif;
    text-align: center;
    height: 100%;
    color: white;
}
#map {
    height: 100% ;
    margin: 0 auto;
    border: 5px solid #229954;
}

button{
    background-color: #229954;
    font-size: 1.2em;
    color: darkgreen;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    width: 500px;
}

select {
    width: 500px;
    font-size: 1.2em;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 1%;
}

.linkButton{
    text-decoration: none;
    color: white;
}

form input{
    margin: 1%;
    padding: 5px;
}

label{
    color: white;
}

#how-to {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

#how-to h1{
    font-family: 'Poller One', cursive;
}